.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 400px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
  }
  
  .slide-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional for better readability */
    padding: 130px;
    border-radius: 8px;
  }
  
  .slide-content h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    text-align: left;
    margin-bottom: 40px;
    line-height: normal;
  }
  
  .slide-content p {
    margin: 10px 0 0;
    font-size: 1.2em;
    text-align: left;
  }
  
  .slider-btn {
    color: white;
    border: none;
    /* padding: 10px 20px; */
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .slider-btn:hover {
    color: #0056b3;
  }



  @media only screen and (min-width: 320px) and (max-width : 450px){

    .slide-content h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
        line-height: normal;
        text-align: justify;
      }

      .slide-content p {
        padding-top: 5px;
        font-size: 15px;
        text-align: justify;
      }

      .slide-content {
        text-align: center;
        background: rgba(0, 0, 0, 0.5); /* Optional for better readability */
        padding: 65px;
        /* border-radius: 8px; */
      }

  }
  

  /* other screen */

  @media only screen and (min-width: 451px) and (max-width : 650px){

    .slide-content h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 800;
        text-align: left;
        margin-bottom: 10px;
        line-height: normal;
      }

      .slide-content p {
        padding-top: 5px;
        font-size: 18px;
        text-align: left;
      }

      .slide-content {
        text-align: center;
        background: rgba(0, 0, 0, 0.5); /* Optional for better readability */
        padding: 100px;
        border-radius: 8px;
      }

  }
  